<div class="post-wrap">
  <div class="post post--answer">
    <div class="post__ui">

      <%= link_to like_answer_path(answer), method: :get, remote: true, class: "vote vote-up #{'selected' if current_user.voted_up_on? answer}", id: "vote_up_answer_#{answer.id}" do %>
        <i class="fa fa-thumbs-o-up"></i>
      <% end %>

      <span class="vote-count" id="vote_count_answer_<%= answer.id %>">
        <%= answer.weighted_score %>
      </span>

      <%= link_to unlike_answer_path(answer), method: :get, remote: true, class: "vote vote-down #{'selected' if current_user.voted_down_on? answer}", id: "vote_down_answer_#{answer.id}" do %>
        <i class="fa fa-thumbs-o-down"></i>
      <% end %>
    </div>
    <p class="answer__title">
      <%= answer.content %>
    </p>
    <span class="comment-info">
      <%= render 'user_profile', user: answer.user %>
    </a> <span class="comment-info__time"><%=  time_ago_in_words(answer.created_at) %> ago</span> </span>

    <div class="pull-right">
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample-<%= index %>" aria-expanded="false" aria-controls="collapseExample-<%= index %>">
      Add comment
      </button>
    </div>
  </div>
  <div class="collapse" id="collapseExample-<%= index %>">
    <%= render 'comment_form', thing: answer, answer_id: answer.id, comment: comment %>
  </div>
  <%= render 'comments', thing: answer %>
</div>
