<a name="answer"></a>
<%= form_with(model: answer, local: true) do |f| %>
  <%= render 'layouts/form_error_messages', resource: answer %>
  <%= f.hidden_field :question_id, value: answer.question.id %>
  <fieldset>
    <%- if @answers.present? %>
      <legend>Don't agree? Add your answer here</legend>
    <% else %>
      <legend>Add your answer here</legend>
    <% end %>

    <%-if current_user %>

      <div class="form-group">
       <%= f.text_area :content, class: 'form-control', size: "60x4", placeholder: "Start typing your answer..." %>
      </div>

    <% else %>

    <p>
      You need to be <a href='/users/sign_in'>logged in</a> to post an answer.
    </p>

    <% end %>

  </fieldset>
  <div class="actions">
    <%-if current_user %>
      <%= f.submit 'Submit your answer', class: 'btn btn-primary' %>
    <% else %>
    <%=link_to "Login / register", "/users/sign_in", class: 'btn btn-primary' %>
    <% end %>

  </div>
<% end %>
