<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--questions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/breadcrumb' %>
        </div>
        <div class="col-sm-8 strip__left">
          <div class="jumbotron intro-with-icon">
            <div class="page-icon">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Questions' %>
              <span class="page-icon__label">Questions</span>
            </div>
            <h1 class="title--strip">Questions</h1>
            <p class="intro">We’re here as a reference point and resource to help you with your questions about new migrants.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ask-question">
            <h2 class="ask-question__title">Ask your own question</h2>
            <p class="ask-question__desc">Post your question to the community of interest</p>
            <%= link_to 'Ask a question', new_question_path, class: 'btn btn-primary ask-question__btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div id="question-banner" class="question-banner panel clearfix">
            <button type="button" class="close" data-target="#question-banner" data-dismiss="alert">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <div class="col-md-4">
              <p class="intro">
                Migrant.health is a question and answer site for health professionals. Join now to be part of the discussion.
              </p>
              <%= link_to 'Sign up', new_user_session_path, class: 'btn btn-primary'  %>
            </div>
            <div class="col-md-6 col-md-offset-1 how-it-works-icons">
              <h3 class="how-it-works-title">Here's how it works</h3>
              <div class="row">
                <div class="col-sm-4 how-it-works">
                  <%= render 'layouts/icon_image', file_name: 'icon-question-1.svg', alt_text: 'Questions' %>
                  <p>Anybody can ask a question</p>
                </div>
                <div class="col-sm-4 how-it-works">
                  <%= render 'layouts/icon_image', file_name: 'icon-question-2.svg', alt_text: 'Questions' %>
                  <p>Anybody can answer</p>
                </div>
                <div class="col-sm-4 how-it-works">
                  <%= render 'layouts/icon_image', file_name: 'icon-question-3.svg', alt_text: 'Questions' %>
                  <p>The best answers are voted up and rise to the top</p>
                </div>
              </div>
            </div>
          </div>
          <div id="exTab2" class="">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#1" data-toggle="tab">Top questions</a></li>
              <li><a href="#2" data-toggle="tab">Active</a></li>
              <li><a href="#3" data-toggle="tab">Week</a></li>
              <li><a href="#4" data-toggle="tab">Month</a></li>
            </ul>

            <div class="tab-content ">
              <div class="tab-pane active" id="1">
                <ul class="listing listing--questions">
                  <% Question.all.each do |question| %>
                    <%= render 'question', question: question %>
                  <% end %>
                </ul>
              </div>
              <div class="tab-pane" id="2">
                <div class="well">Active questions can go here</div>
              </div>
              <div class="tab-pane" id="3">
                <div class="well">Active questions this week</div>
              </div>
              <div class="tab-pane" id="3">
                <div class="well">Active questions this month</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
