<%= content_for :title, @question.content %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--questions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/breadcrumb' %>
          <%= render 'question_banner' %>
        </div>
        <div class="col-sm-8 strip__left">
          <div class="post-wrap">
            <div class="post post--question">
              <div class="post__ui">
                <%= link_to like_question_path(@question), method: :get, remote: true, class: "vote vote-up #{'selected' if (current_user && current_user.voted_up_on?(@question))}", id: "vote_up_question_#{@question.id}" do %>
                <i class="fa fa-thumbs-o-up"></i>
                <% end %>

                <span class="vote-count" id="vote_count_question_<%= @question.id %>">
                <%= @question.weighted_score %>
                </span>

                <%= link_to unlike_question_path(@question), method: :get, remote: true, class: "vote vote-down #{'selected' if (current_user && current_user.voted_down_on?(@question))}", id: "vote_down_question_#{@question.id}" do %>
                <i class="fa fa-thumbs-o-down"></i>
                <% end %>
              </div>

              <div class="post__title"><%=  simple_format @question.content %></div>
              <span class="comment-info">
                <span class="comment-info__time">
                  <%= time_ago(@question)%> by <%= link_to @question.user.first_name, user_profile_path(@question.user) %>
                </span>
              </span>

              <div class="pull-right">
                <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample-question" aria-expanded="false" aria-controls="collapseExample-question">
                Add comment
                </button>
                <% if policy(@question).update? %>
                  <%= link_to 'Edit', edit_question_path(@question), class: "btn btn-default" %>
                  <%= link_to "Delete", @question, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete this question?' } %>
                <% end %>
              </div>
            </div>
            <div class="collapse" id="collapseExample-question">
              <%= render 'comment_form', thing: @question, question_id: @question.id, comment: @comment %>
            </div>
            <%= render 'comments', thing: @question %>
          </div>
        </div>
        <div class="col-sm-4">
          <%= render 'ask_your_own_question_panel' %>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
         <div class="col-sm-8">
          <% if @question.answers.exists? %>
            <h2><%= @question.answers.count %> Answers</h2>
            <% @question.answers.each_with_index do |answer, index| %>
              <%= render 'answer', answer: answer, comment: @comment, index: index %>
            <% end %>
          <% else %>
            <h2>This question has no answers, can you help?</h2>
          <% end %>
          <%= render 'answer_form', answer: @answer, comment: @comment %>
        </div>
        <div class="col-sm-4">
          <div class="related-box related-fact-sheets">
            <h3 class="related-box__title">Relevant topics</h3>
            <ul class="listing listing--topics">
              <% @topics.each do |topic| %>
              <li>
                <%= link_to topic_path(topic) do %>
                  <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
                  <%= topic %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
          <%= social_share(request, @question) %>
        </div>
      </div>
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>
