<%= content_for :title, @question.content %>

<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--questions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/breadcrumb' %>
          <%= render 'question_banner' %>
        </div>
        <div class="col-sm-8 strip__left">
          <div class="post-wrap">
            <div class="post post--question">
              <div class="post__ui">
                <a href="#" class="vote vote-up">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="vote-count"> 1 </span>
                <a href="#" class="vote vote-down">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
                <i class="fa fa-star the-post-question-icon"></i>
              </div>
              <h1 class="post__title"><%= @question.content %></h1>
              <span class="comment-info">
                <%= render 'user_profile', user: @question.user %>
                <span class="comment-info__time"><%= time_ago_in_words(@question.created_at) %> ago</span></span>
            </div>
            <%= render 'comments', thing: @question %>
          </div>
        </div>
        <div class="col-sm-4">
          <%= render 'ask_your_own_question_panel' %>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <% if @question.answers.exists? %>
          <div class="col-sm-8">
            <h2><%= @question.answers.count %> Answers</h2>
            <% @question.answers.each do |answer| %>
              <%= render 'answer', answer: answer %>
            <% end %>
          </div>
        <% else %>
          <div class="col-sm-8">
            <h2>This question has no answers, can you help?</h2>
          </div>
        <% end %>
        <div class="col-sm-4">
          <div class="related-box related-fact-sheets">
            <h3 class="related-box__title">Relevant topics</h3>
            <ul class="listing listing--topics">
              <% ActsAsTaggableOn::Tag.order("RANDOM()").limit(4).each do |topic| %>
              <li>
                <%= link_to topic_path(topic) do %>
                  <%= render 'layouts/icon_image', file_name: 'icon-topic.svg', alt_text: 'Topic', smaller: true %>
                  <%= topic %>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="ask-question-strip col-sm-12 clearfix">
          <div class="col-sm-6">
            <h2>What are people asking?</h2>
            <ul class="listing listing--questions">
              <li>
                <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                  <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">
                  Can anyone in England access NHS primary care?</h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                  <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    How do I know what immunisations a new migrant patient needs, and what they might have already had?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/how-do-i-ask-about-fgm.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    How do I ask about FGM? Who should I ask?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/what—are-the-signs-of-trafficking.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    What are the signs of trafficking?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/is-everyone-entitled-to-free-secondary-care.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    Is everyone entitled to free secondary care?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="ask-question">
              <h2 class="ask-question__title">
                Ask your own question
              </h2>
              <p class="ask-question__desc">
                Post your question to the community of interest
              </p>
              <a href="/health-foundation/questions/ask.html" class="btn btn-primary ask-question__btn">Ask a question</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
