<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--questions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= render 'layouts/breadcrumb' %>
          <%= render 'question_banner' %>
        </div>
        <div class="col-sm-8 strip__left">
          <div class="post-wrap">
            <div class="post post--question">
              <div class="post__ui">
                <a href="#" class="vote vote-up">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="vote-count"> 1 </span>
                <a href="#" class="vote vote-down">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
                <i class="fa fa-star the-post-question-icon"></i>
              </div>
              <h1 class="post__title"><%= @question.content %></h1>
              <span class="comment-info">
                <a href="/health-foundation/user/profile.html" class="comment-info__link"><%= @question.user.first_name %>
                </a><span class="comment-info__time"><%= time_ago_in_words(@question.created_at) %> ago</span></span>
            </div>
            <% if @question.comments.exists? %>
              <div class="post-comments">
                <div class="comment-wrap">
                  <h3 class="comments-title">2 Comments</h3>
                  <p class="comment">
                    Do you mean anyone with a British passport?
                    <span class="comment-info"> <a href="/health-foundation/user/profile.html" class="comment-info__link">
                      John
                    </a> <span class="comment-info__time">2 hours ago</span> </span>
                  </p>
                  <p class="comment">
                    No, I am thinking about a few patients who I’ve seen recently who have a European passport.
                    <span class="comment-info"> <a href="/health-foundation/user/profile.html" class="comment-info__link">
                      Alice
                    </a> <span class="comment-info__time">2 hours ago</span> </span>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="ask-question">
            <h2 class="ask-question__title">
              Ask your own question
            </h2>
            <p class="ask-question__desc">
              Post your question to the community of interest
            </p>
            <a href="/health-foundation/questions/ask.html" class="btn btn-primary ask-question__btn">Ask a question</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2>
            2 Answers
          </h2>
          <div class="post-wrap">
            <div class="post post--answer">
              <div class="post__ui">
                <a href="#" class="vote vote-up">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="vote-count">
                  1
                </span>
                <a href="#" class="vote vote-down">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
                <i class="fa fa-check the-post-answer-icon"></i>
              </div>
              <p class="answer__title">
                If they are from the EEA then they are entitled to free NHS care. The rules are more complicated for people outside the EEA but everyone – regardless of where they are from – is entitled to free primary care.
              </p>
              <span class="comment-info"> <a href="/health-foundation/user/profile.html" class="comment-info__link">
                John
              </a> <span class="comment-info__time">2 hours ago</span> </span>
            </div>
            <div class="post-comments">
              <div class="comment-wrap">
                <h3 class="comments-title">2 Comments</h3>
                <p class="comment">
                  We do not register anyone without a fixed UK abode and we always ask for passports at registration.
                  <span class="comment-info"> <a href="/health-foundation/user/profile.html" class="comment-info__link">
                    John
                  </a> <span class="comment-info__time">2 hours ago</span> </span>
                </p>
              </div>
            </div>
          </div>
          <div class="post-wrap">
            <div class="post post--good">
              <div class="post__ui">
                <a href="#" class="vote vote-up">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="vote-count">
                  1
                </span>
                <a href="#" class="vote vote-down">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
              </div>
              <p class="answer__title">
                Yes, NHS England guidance states anyone can access primary care, and not having proof of address should not be a barrier to this. Please see the section on entitlements for more information.
              </p>
              <span class="time-ago">9 hours ago</span>
            </div>
          </div>
          <div class="post-wrap">
            <div class="post post--bad">
              <div class="post__ui">
                <a href="#" class="vote vote-up">
                  <i class="fa fa-thumbs-o-up"></i>
                </a>
                <span class="vote-count">
                  1
                </span>
                <a href="#" class="vote vote-down">
                  <i class="fa fa-thumbs-o-down"></i>
                </a>
              </div>
              <p class="answer__title">
                Anyone with proof of address can register in England.
              </p>
              <span class="time-ago">9 hours ago</span>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="related-box related-fact-sheets">
            <h3 class="related-box__title">Relevant topics</h3>
            <ul class="listing listing--topics">
              <li>
                <a href="/health-foundation/topics/fgm.html">
                  <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

                  <p>Infectious diseases</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/topics/fgm.html">
                  <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

                  <p>Safeguarding</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/topics/fgm.html">
                  <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

                  <p>FGM</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/topics/fgm.html">
                  <img src="/health-foundation/assets/img/icon-topic.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-topic.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon icon--smaller">

                  <p>First appointment</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ask-question-strip col-sm-12 clearfix">
          <div class="col-sm-6">
            <h2>What are people asking?</h2>
            <ul class="listing listing--questions">
              <li>
                <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                  <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">
                  Can anyone in England access NHS primary care?</h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                  <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    How do I know what immunisations a new migrant patient needs, and what they might have already had?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/how-do-i-ask-about-fgm.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    How do I ask about FGM? Who should I ask?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/what—are-the-signs-of-trafficking.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    What are the signs of trafficking?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/is-everyone-entitled-to-free-secondary-care.html">
                  <h3 class="listing__title">
                    <img src="/health-foundation/assets/img/icon-discussion.svg" onerror="this.onerror=null; this.src='/health-foundation/assets/img/icon-discussion.png'" aria-hidden="true" credit="Created by Vectors Market from the Noun Project" class="icon">

                    Is everyone entitled to free secondary care?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <div class="ask-question">
              <h2 class="ask-question__title">
                Ask your own question
              </h2>
              <p class="ask-question__desc">
                Post your question to the community of interest
              </p>
              <a href="/health-foundation/questions/ask.html" class="btn btn-primary ask-question__btn">Ask a question</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
