<p class='<%=locals[:class]%>'>migrant.health will:</p>

<ul class='<%=locals[:class]%>'>
  <li>Provide a self-moderating forum for discussion among people working with, or interested in, providing primary care services for people new to the UK</li>
  <li>Only allow verified e-mails such as @nhs.net, @ac.uk to register so you can be sure of who is posting</li>
  <li>Offer peer support to people in the field of work through the forum</li>
  <li>Provide updated resources about good/emerging practice in the field of work</li>
  <li>Offer a respectful and enabling environment for people engaged in forum discussion.</li>
</ul>

<p class='<%=locals[:class]%>'>migrant.health will not:</p>

<ul class='<%=locals[:class]%>'>
  <li>Tolerate abusive or disrespectful posts on the forum; this means that sometimes users may be temporarily or permanently suspended. Please email any concerns to <a href="mailto:safesurgeries@doctorsoftheworld.org.uk">safesurgeries@doctorsoftheworld.org.uk</a></li>
</ul>

<p class='<%=locals[:class]%>'>You, as a member of the migrant.health community will:</p>

<ul class='<%=locals[:class]%>'>
  <li>treat others as you want to be treated, with respect and consideration</li>
  <li>try to protect personal data and refer to primary care services, rather than individuals providing them</li>
  <li>flag anything which concerns you. If inappropriate questions or answers are posted, and we haven’t yet spotted them,
we would appreciate hearing about them</li>
  <li>share your good practice, if you think it will benefit the community.</li>
</ul>

<p class='<%=locals[:class]%>'>You, as a member of the migrant.health community will not:</p>

<ul class='<%=locals[:class]%>'>
  <li>Use the forum for advertising or promoting commercial services</li>
  <li>Post anything which is racist, homophobic, sexist, personally abusive or dismissive of people’s experiences of working with migrants</li>
  <li>Swear or use offensive language when asking/answering questions.</li>
</ul>
