<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">A tool for everyone in primary care</h1>
            <p class="intro">
              Factsheets, how-tos, tools, inspiring examples of good practice and an opportunity to ask questions and share answers in our growing community
            </p>
            <form class="search-wrap" role="search">
              <div class="input-group">
                <input class="form-control search-box" placeholder="What are you looking for?" name="srch-term" type="text">
                <div class="input-group-btn">
                  <a href="/health-foundation/search/results.html" class="btn btn-search" ><i class="fa fa-search"></i><span>Search</span></a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-4 strip__about-this-site">
          <h3 class="title">
            About this site and how to use it
          </h3>
          <div class="fitvids">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cRskjqpgSNs?rel=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip strip--topics">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                Immigration status
              </a>
            </h3>
            <p class="tag-summary_desc">
              Understanding the difference between an asylum seeker, failing asylum seeker, refugee, and undocumented migrant.
            </p>
          </div>
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                Entitlements to Primary Care
              </a>
            </h3>
            <p class="tag-summary_desc">
              Explanation of entitlements of primary care in England.
            </p>
          </div>
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                Screening
              </a>
            </h3>
            <p class="tag-summary_desc">
              Screening considerations for new migrant patients
            </p>
          </div>
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                Trauma, trafficking, and victims of exploitation
              </a>
            </h3>
            <p class="tag-summary_desc">
              When and how to ask about difficult topics, and what to do with the answer
            </p>
          </div>
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                FGM
              </a>
            </h3>
            <p class="tag-summary_desc">
              Latest guidance on FGM
            </p>
          </div>
          <div class="tag-summary">
            <h3 class="tag-summary__title">
              <a class="tag-summary__link" href="/health-foundation/topics/fgm.html">
                Safeguarding
              </a>
            </h3>
            <p class="tag-summary_desc">
              Safeguarding issues particularly relevant to migrant patients
            </p>
          </div>

        </div><!-- /row -->
      </div><!-- /col-md-9 -->
      <div class="col-md-3">
        <a href="/health-foundation/topics/">View all topics</a>
      </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>Hot questions</h2>
            <ul class="listing listing--questions listing--small">
              <li>
                <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">

                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>
                  <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>
                  <h3 class="listing__title">
                    What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>

              <li>
                <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    How do I know what immunisations a new migrant patient needs, and what they might have already had?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>

            </ul>
          <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
        </div>
        <div class="col-sm-4">
          <h2>New questions</h2>
            <ul class="listing listing--questions listing--small">
              <li>
                <a href="/health-foundation/questions/what—are-the-signs-of-trafficking.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    What are the signs of trafficking?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    How do I know what immunisations a new migrant patient needs, and what they might have already had?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>

              <li>
                <a href="/health-foundation/questions/is-everyone-entitled-to-free-secondary-care.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    Is everyone entitled to free secondary care?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>



            </ul>
          <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
        </div>
        <div class="col-sm-4">
          <h2>Unanswered questions</h2>
            <ul class="listing listing--questions listing--small">
              <li>
                <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>
              <li>
                <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">
                    What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                  </h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>

              <li>
                <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                  <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                  <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
                  <p class="metadata">6 votes, 1 answer, 54 views</p>
                </a>
              </li>


            </ul>
          <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
        </div>
      </div>
    </div>
  </div>
</section>
