<%= content_for :title, @fact_sheet.title %>

<section class="section" aria-label="Content">
  <%= render 'resources/show_strip', resource: @fact_sheet %>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          <%= render 'layouts/renderers/numbered_paragraph_renderer', chunk: @fact_sheet.numbered_paragraph_chunk if @fact_sheet.numbered_paragraph_chunk %>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @fact_sheet.indicators_chunk if @fact_sheet.indicators_chunk %>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @fact_sheet.what_to_do_chunk if @fact_sheet.what_to_do_chunk %>

          <%= render 'layouts/renderers/further_information_renderer', chunk: @fact_sheet.further_information_chunk if @fact_sheet.further_information_chunk %>

          <%= render 'layouts/relevant_topics' %>
        </div>
        <div class="col-sm-4">
          <%= render 'layouts/embedded_video', resource: @fact_sheet if @fact_sheet.video_url %>
          <%= render 'layouts/related_resources', resource: @fact_sheet  %>
          <%= link_to 'Edit', edit_resources_fact_sheet_path(@fact_sheet), class: 'btn btn-default' %>
        </div>
      </div>
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>
