<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 strip__left">
          <div class="jumbotron">
            <h1 class="title--strip">Search Results (<%= @results.count %> found)</h1>
          </div>
        </div>
      </div>
      <%= render 'layouts/search_widget', search_path: search_path %>
    </div>
  </div>

  <div class="strip strip--topics">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <% if @results.count > 0 %>
            <ul class="listing listing--large">
              <% @results.each do |result| %>
                  <li>
                    <%= link_to polymorphic_path(result.searchable) do %>
                    <%= render 'layouts/icon_image', file_name: result.searchable.icon_file_name, alt_text: result.searchable.icon_alt_text %>
                      <h3 class="listing__title"><%= result.searchable.title %></h3>
                      <p class="listing__desc"><%= result.searchable.intro %></p>
                    <% end %>
                  </li>
              <% end %>
            </ul>
          <% else %>
            <p>No results found</p>
          <% end %>
        </div><!-- /col-md-9 -->
        <div class="col-md-3">
          <%= link_to 'View all topics', topics_path %>
        </div>
      </div>
    </div>
  </div>
</section>
