<div role="tabpanel" class="tab-pane active" id="common">

  <fieldset>
    <legend>Common fields for all resources</legend>
     <div class="form-group">
       <%= f.label :title %>
       <%= f.text_field :title, class: 'form-control', placeholder: "Enter #{resource.icon_alt_text.titleize} Title" %>
     </div>
    <div class="form-group">
      <%= f.label :intro, 'Introductory Paragraph' %>
      <p class="help-block">Example block-level help text here.</p>
      <%= f.text_area :intro, size: "60x12", class: 'form-control', placeholder: 'Enter an introductory paragraph' %>
    </div>
    <div class="form-group">
      <%= f.label :intro, 'Contributed By' %>
      <p class="help-block">Who has contributed this content? Separate contributors with a new line</p>
      <%= f.text_area :contributed_by, size: "60x12", class: 'form-control', placeholder: 'Who has contributed this content?' %>
    </div>
    <div class="form-group">
      <%= f.label :video_url, 'Embedded Video (optional)' %>
      <p class="help-block">Enter the URL for the video you wish to embed.</p>
      <%= f.text_field :video_url, class: 'form-control', placeholder: 'URL for video, for example: https://youtube.com/my-video' %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= f.label "#{f.object.class.model_name.param_key}[topic_list][]", 'Topics' %>
      <%= select_tag "#{f.object.class.model_name.param_key}[topic_list][]",
        options_from_collection_for_select(@tags, "name", "name", resource.topic_list),
        id: "topic-placeholder",
        data: { placeholder: "Choose the topics" },
        multiple: 'multiple',
        class: 'form-control' %>
    </div>
  </fieldset>
</div>
