<div role="tabpanel" class="tab-pane" id="<%= tab_id %>">
  <%= f.fields_for further_information_chunk do |ff| %>
    <fieldset>
      <legend><%= legend_content %></legend>
      <div class="form-group">
        <%= ff.label :title %>
        <%= ff.text_field :title, class: 'form-control', placeholder: "#{title_placeholder_content}" %>
      </div>
      <div class="form-group">
        <%= ff.label :intro %>
        <%= ff.text_area :intro, class: 'form-control', size: "60x6", placeholder: "Introductory Section Paragraph" %>
      </div>
      <legend>External Resources</legend>
      <p class="help-block">Enter external resources.</p>

      <% ff.object.external_resources.each do |er| %>
        <%= ff.fields_for :external_resources, er do |fff|  %>
          <div class="form-group">
            <%= fff.label :title %>
            <%= fff.text_field :title, class: 'form-control' %>
            <%= fff.label :url %>
            <%= fff.text_field :url, class: 'form-control' %>
          </div>
        <% end %>
      <% end %>

      <legend>Upload Attachments</legend>
      <p class="help-block">Upload attachments.</p>

      <% ff.object.uploaded_attachments.each do |ua| %>
        <%= ff.fields_for :uploaded_attachments, ua do |fff|  %>
          <div class="form-group">
            <% unless ua.uploaded_file_file_name.nil? %>
              <label class="control-label"><%= ua.title %></label>
              <p><%= link_to ua.uploaded_file_file_name, ua.uploaded_file.url %> <%#= fff.check_box "Change file", label: "Change file", class: "change-file" %> </p>
            <% else %>
              <%= fff.label :title %>
              <%= fff.text_field :title, class: 'form-control' %>         
              <%= fff.label :uploaded_file %>
              <%= fff.file_field :uploaded_file, class: 'form-control' %>
            <% end %>

          </div>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= ff.label :after %>
        <%= ff.text_area :after, class: 'form-control', size: "60x6", placeholder: "After paragraph" %>
      </div>
    </fieldset>
  <% end %>
</div>
