<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--resources">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <%= render 'layouts/breadcrumb' %>

          <div class="jumbotron">
            <h1 class="title--strip">
             How Tos
            </h1>
            <p class="intro">
              Practical guidance about how to deal with specific problems
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul class="listing listing--large">
            <% @how_tos.each do |resource| %>
              <li>
                <%= link_to new_resources_how_to_path(resource) do %>
                  <%= render 'layouts/icon_image', file_name: resource.icon_file_name, alt_text: resource.icon_alt_text %>
                  <h3 class="listing__title"><%= resource.title %></h3>
                  <p class="listing__desc"><%= resource.intro %></p>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
         <%= link_to 'Create How To', new_resources_how_to_path, class: 'btn-info btn' %>
        </div>
      </div>
    </div>
  </div>
</section>
