<%= content_for :title, @how_to.title %>

<section class="section" aria-label="Content">
  <%= render 'resources/show_strip', resource: @how_to %>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @how_to.before_in_preparation_chunk, intro_class: true if @how_to.before_in_preparation_chunk %>
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @how_to.during_consultation_chunk if @how_to.during_consultation_chunk %>
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @how_to.after_aftercare_chunk if @how_to.after_aftercare_chunk %>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @how_to.indicators_chunk if @how_to.indicators_chunk %>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @how_to.what_to_do_chunk if @how_to.what_to_do_chunk %>

          <h2>Resources</h2>
          <ul class="listing resources-list">
            <li>
              <a href="https://www.modernslaveryhelpline.org/">
                <%= render 'layouts/icon_image', file_name: 'icon-link.svg', alt_text: 'Link', smaller: true %>
                <h3>Modern Slavery helpline</h3>
                <p class="metadata">modernslaveryhelpline.org</p>
              </a>
            </li>
          </ul>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @how_to.consider_relevant_chunk if @how_to.consider_relevant_chunk %>
          <%= render 'layouts/renderers/bullet_point_renderer', chunk: @how_to.symptoms_reported_chunk if @how_to.symptoms_reported_chunk %>
          <h2>
            Optional links to contributing author profiles
          </h2>
          <%= render 'layouts/relevant_topics' %>
        </div>
        <div class="col-sm-4">
          <%= render 'layouts/embedded_video', resource: @how_to if @how_to.video_url %>
          <%= render 'layouts/related_resources', resource: @how_to %>
          <%= link_to 'Edit', edit_resources_how_to_path(@how_to), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>
