<%= content_for :title, @resource.title %>

<section class="section" aria-label="Content">
  <%= render 'resources/show_strip', resource: @resource %>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          <%= render 'layouts/renderers/further_information_renderer', chunk: @resource.resources_chunk if @resource.resources_chunk %>
        </div>
        <div class="col-sm-4">
          <%= render 'layouts/embedded_video', video_url: @resource.video_url if @resource.video_url %>
          <%= render 'layouts/related_resources', resource: @resource  %>
          <% if current_user.try(:admin?) %>
            <%= link_to 'Edit', edit_resources_country_path(@resource), class: 'btn btn-default' %>
            <%= link_to 'Delete', resources_country_path(@resource), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>
