<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--home">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <%= render 'layouts/breadcrumb' %>
            <div class="jumbotron intro-with-icon">
              <div class="page-icon">
                <%= render 'layouts/icon_image', file_name: 'icon-how-to', alt_text: 'How To' %>
                  <span class="page-icon__label">
                How-to
              </span>
              </div>
              <h1 class="title--strip"><%= @how_to.title %></h1>
              <p class="intro"><%= @how_to.intro %></p>
            </div>
        </div>
        <%= render 'layouts/contributed_by', resource: @how_to %>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          <%= render 'layouts/paragraph_renderer', chunk: @how_to.before_in_preparation_chunk if @how_to.before_in_preparation_chunk %>
          <%= render 'layouts/paragraph_renderer', chunk: @how_to.during_consultation_chunk if @how_to.during_consultation_chunk %>
          <%= render 'layouts/paragraph_renderer', chunk: @how_to.after_aftercare_chunk if @how_to.after_aftercare_chunk %>
          <%= render 'layouts/bullet_point_renderer', chunk: @how_to.what_to_do_chunk if @how_to.what_to_do_chunk %>

          <h2>Resources</h2>
          <ul class="listing resources-list">
            <li>
              <a href="https://www.modernslaveryhelpline.org/">
                <%= render 'layouts/icon_image', file_name: 'icon-link', alt_text: 'Link', smaller: true %>
                <h3>Modern Slavery helpline</h3>
                <p class="metadata">modernslaveryhelpline.org</p>
              </a>
            </li>
          </ul>
          <%= render 'layouts/bullet_point_renderer', chunk: @how_to.consider_relevant_chunk if @how_to.consider_relevant_chunk %>
          <%= render 'layouts/bullet_point_renderer', chunk: @how_to.symptoms_reported_chunk if @how_to.symptoms_reported_chunk %>
          <h2>
            Optional links to contributing author profiles
          </h2>
          <%= render 'layouts/relevant_topics' %>
        </div>
        <div class="col-sm-4">
          <%= render 'layouts/embedded_video', resource: @how_to if @how_to.video_url %>
          <%= render 'layouts/related_resources', resource: @how_to %>
          <%= link_to 'Edit', edit_how_to_path(@how_to), class: 'btn btn-default' %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>
