<section class="section" aria-label="Content">
  <div class="strip strip--brand-color strip--resources">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 strip__left">
          <%= render 'layouts/breadcrumb' %>

          <div class="jumbotron">
            <h1 class="title--strip">
              Resources landing page example
            </h1>
            <p class="intro">
              Practical guidance about how to deal with specific problems
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul class="listing listing--large">
            <li>
              <a href="<%=resources_fact_sheets_path%>">
                <%= image_tag "icon-fact-sheet.svg", alt: "Factsheets", class: "icon", credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">Factsheets</h3>
                <p class="listing__desc">Overview of specific topic areas, with key facts</p>
              </a>
            </li>
          </ul>
          <ul class="listing listing--large">
            <li>
              <a href="<%=resources_how_tos_path%>">
                <%= image_tag "icon-how-to.svg", alt: "How to", class: "icon", credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">How-tos</h3>
                <p class="listing__desc">Practical guides on issues facing primary care staff</p>
              </a>
            </li>
          </ul>
          <ul class="listing listing--large">
            <li>
              <a href="<%=resources_practice_examples_path%>">
                <%= image_tag "icon-practice-example.svg", alt: "Practice example", class: "icon", credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">Practice examples</h3>
                <p class="listing__desc">Practical guidance about how to deal with specific problems</p>
              </a>
            </li>
          </ul>
          <ul class="listing listing--large">
            <li>
              <a href="<%=resources_tools_path%>">
                <%= image_tag "icon-tool.svg", alt: "Tool", class: "icon", credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">Tools/templates</h3>
                <p class="listing__desc">For you to use and adapt</p>
              </a>
            </li>
          </ul>
          <ul class="listing listing--large">
            <li>
              <a href="<%=resources_countries_path%>">
                <%= image_tag "icon-country.svg", alt: "Country", class: "icon", credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">Country context</h3>
                <p class="listing__desc">For quick reference</p>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <% if current_user.try(:admin?)  %>
    <div class="strip">
      <div class="container">
        <div class="row">
          <h2>Create new resource</h2>
          <div class="col-sm-8">
           <%= link_to 'Fact Sheet', new_resources_fact_sheet_path, class: 'btn-info btn' %>
           <%= link_to 'How To', new_resources_how_to_path, class: 'btn-info btn' %>
           <%= link_to 'Practice Example', new_resources_practice_example_path, class: 'btn-info btn' %>
           <%= link_to 'Tool', new_resources_tool_path, class: 'btn-info btn' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
