<% if chunk.title %>
  <h2><%= chunk.title %></h2>
<% end %>

<% if chunk.intro %>
  <p><%= fancy_paragraphs(chunk.intro) %></p>
<% end %>
<% if chunk.external_resources.exists? %>
  <ul class="listing resources-list">
    <% chunk.external_resources.each do |external_resource| %>
      <%= render 'layouts/renderers/further_information_link', external_resource: external_resource %>
    <% end %>
  </ul>
<% end %>

<% if chunk.uploaded_attachments.exists? %>
  <ul class="listing resources-list">
    <% chunk.uploaded_attachments_with_files.each do |uploaded_attachment| %>
      <%= render 'layouts/renderers/uploaded_attachment_link', uploaded_attachment: uploaded_attachment %>
    <% end %>
  </ul>
<% end %>

<% if chunk.after %>
  <p><%= fancy_paragraphs(chunk.after) %></p>
<% end %>
