<% if chunk.title %>
  <h2><%= chunk.title %></h2>
<% end %>

<% if chunk.intro %>
  <p><%= fancy_paragraphs(chunk.intro) %></p>
<% end %>

<%# YUCK %>
<% chunk.content.split("\n").each_with_index do |para, index| %>
  <% if ! (defined?(intro_class)).nil? && index == 0 %>
    <p class="intro"><%= para %></p>
  <% else %>
    <p><%= para %></p>
  <% end %>
<% end %>

<% if chunk.after %>
  <p><%= fancy_paragraphs(chunk.after) %></p>
<% end %>
