<p id="notice"><%= notice %></p>

<h1>Practice Examples</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @practice_examples.each do |practice_example| %>
      <tr>
        <td><%= link_to 'Show', practice_example %></td>
        <td><%= link_to 'Edit', edit_practice_example_path(practice_example) %></td>
        <td><%= link_to 'Destroy', practice_example, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Practice Example', new_practice_example_path %>
