<%= content_for :title, @resource.title %>

<section class="section" aria-label="Content">
  <%= render 'resources/show_strip', resource: @resource %>
  <div class="strip">
    <div class="container">
      <div class="row">
        <div class="content col-sm-8">
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @resource.what_was_the_problem_chunk, intro_class: true if @resource.what_was_the_problem_chunk %>
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @resource.how_did_we_approach_it_chunk if @resource.how_did_we_approach_it_chunk %>
          <%= render 'layouts/renderers/numbered_paragraph_renderer', chunk: @resource.what_did_we_do_chunk if @resource.what_did_we_do_chunk %>
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @resource.did_it_work_chunk if @resource.did_it_work_chunk %>
          <%= render 'layouts/renderers/paragraph_renderer', chunk: @resource.recommendations_chunk if @resource.recommendations_chunk %>
          <h2>
            Optional links to contributing author profiles
          </h2>
           <%= render 'layouts/relevant_topics', resource: @resource %>
        </div>
        <div class="col-sm-4">
          <%= render 'layouts/embedded_video', video_url: @resource.video_url if @resource.video_url %>
          <%= render 'layouts/related_resources', resource: @resource %>
          <%= link_to 'Edit', edit_resources_practice_example_path(@resource), class: 'btn btn-default' if current_user && current_user.admin? %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= render 'layouts/what_are_people_asking' %>
    </div>
  </div>
</section>

