<div class="sg-body sg-container container">
  <%= form_with(model: resource, local: true) do |f| %>
    <%= render 'layouts/form_error_messages', resource: resource %>
    <fieldset>
      <legend>All fields are mandatory unless otherwise specified as optional.</legend>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Enter #{resource.type.titleize} Title" %>
       </div>
      <div class="form-group">
        <%= f.label :intro, 'Introductory Paragraph' %>
        <p class="help-block">Example block-level help text here.</p>
        <%= f.text_area :intro, size: "60x12", class: 'form-control', placeholder: 'Enter an introductory paragraph' %>
      </div>
    </fieldset>
    <div class="actions">
      <%= f.submit nil, class: 'btn btn-default' %>
      <%= link_to 'Cancel', polymorphic_path(resource), class: 'btn btn-default' %>
    </div>
  <% end %>
</div>
