 <footer class="site-footer footer strip">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="footer-nav">
            <li><%= link_to 'About', about_path, class: 'footer-nav__link' %></li>
            <li><%= link_to 'Privacy policy', privacy_policy_path, class: 'footer-nav__link' %></li>
            <li><%= link_to 'Terms of use', terms_of_use_path, class: 'footer-nav__link' %></li>
            <li><%= link_to 'House rules', house_rules_path, class: 'footer-nav__link' %></li>
            <li><%= link_to 'Contact us', contact_us_path, class: 'footer-nav__link' %></li>
          </ul>

          <p class="feedback btn btn-info">
          <%= link_to 'Give us your feedback', feedback_path %></p>
          <p class="copyright">&copy; Doctors of the World</p>
        </div>
        <div class="col-sm-6 project-partners clearfix">
          <h3>Project partners</h3>
          <ul class="project-partners-list">
            <li><a href="https://www.sheffield.ac.uk/" target="_blank">
              <%= image_tag 'logo-uos.png', alt: 'University of Sheffield' %>
            </a></li>
            <li><a href="https://www.doctorsoftheworld.org.uk/" target="_blank">
              <%= image_tag 'logo-dotw.png', alt: 'Doctors of the world' %>
            </a></li>
            <li><a href="https://www.yoomee.com" target="_blank">
              <%= image_tag 'logo-yoomee.png', alt: 'Yoomee' %>
            </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
