<header class="site-header" role="banner">
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <div class="row col-md-12">
        <a class="navbar-brand" rel="home" href="<%= root_path %>">
          <%= image_tag 'logo.png', alt: 'logo', class: 'navbar-brand__logo' %>
        </a>
        <button id="main-menu-button" class="navbar-toggle btn btn-primary collapsed" data-target="#main-menu-wrap" data-toggle="collapse" type="button">
          <i class="fa fa-bars"></i>
          <span class="menu-button-text">
            Menu
          </span>
        </button>
        <a class="header-health-foundation-link" href="http://www.health.org.uk/" target="_blank">
          <%= image_tag 'health-foundation.png', alt: 'Health Foundation', class: 'header-health-foundation-img' %>
        </a>
        <div class="collapse navbar-collapse" id="main-menu-wrap">
          <ul id="main-menu" class="navbar-nav navbar-nav--header main-menu-wrap">
            <li><%= nav_link 'Home', root_path  %></li>
            <li><%= nav_link 'Questions', questions_path  %></li>
            <li><%= nav_link 'Resources', resources_path  %></li>
            <% if current_user %>
              <li><%= link_to "Logout: #{current_user.first_name}", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
            <% else %>
              <li><%= nav_link 'Login/register', new_user_session_path  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav><!-- .site-navigation -->
</header>
