<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Hot questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">

                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>
            <li>
              <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>
                <h3 class="listing__title">
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>

            <li>
              <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  How do I know what immunisations a new migrant patient needs, and what they might have already had?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>

          </ul>
        <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>New questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="/health-foundation/questions/what—are-the-signs-of-trafficking.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  What are the signs of trafficking?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>
            <li>
              <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  How do I know what immunisations a new migrant patient needs, and what they might have already had?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>

            <li>
              <a href="/health-foundation/questions/is-everyone-entitled-to-free-secondary-care.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  Is everyone entitled to free secondary care?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>



          </ul>
        <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
      </div>
      <div class="col-sm-4">
        <h2>Unanswered questions</h2>
          <ul class="listing listing--questions listing--small">
            <li>
              <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>
            <li>
              <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">
                  What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
                </h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>

            <li>
              <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
                <%= image_tag 'icon-discussion.png', alt: 'Discussion', class: 'icon', credit: "Created by Vectors Market from the Noun Project" %>

                <h3 class="listing__title">Can anyone in England access NHS primary care?</h3>
                <p class="metadata">6 votes, 1 answer, 54 views</p>
              </a>
            </li>


          </ul>
        <a href="/health-foundation/questions/" class="btn btn-primary">View all</a>
      </div>
    </div>
  </div>
</div>
