<div class="strip">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>Top questions</h2>
          <ul class="listing listing--questions listing--small">
            <% Question.top.each do |question| %>
              <%= render 'questions/question', question: question %>
            <% end %>
          </ul>
          <%= link_to 'View all', questions_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-sm-4">
        <h2>New questions</h2>
          <ul class="listing listing--questions listing--small">
            <% Question.recent.each do |question| %>
              <%= render 'questions/question', question: question %>
            <% end %>
          </ul>
        <%= link_to 'View all', questions_path, class: 'btn btn-primary' %>
      </div>
      <div class="col-sm-4">
        <h2>Unanswered questions</h2>
          <% if Question.includes(:answers).where(answers: { id: nil }).exists? %>
            <ul class="listing listing--questions listing--small">
              <% Question.open.each do |question| %>
                <%= render 'questions/question', question: question %>
              <% end %>
            </ul>
          <% else %>
            <p>There are no unanswered questions at the moment</p>
          <% end %>
        <%= link_to 'View all', questions_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
