<div class="row">
  <div class="ask-question-strip col-sm-12 clearfix">
    <div class="col-sm-6">
      <h2>What are people asking?</h2>
      <ul class="listing listing--questions">
        <li>
          <a href="/health-foundation/questions/can-anyone-in-england-accesss-nhs-primary-care.html">
            <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
            <h3 class="listing__title">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
              Can anyone in England access NHS primary care?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
        <li>
          <a href="/health-foundation/questions/difference-between-assylum-seeker-and-refugee.html">
            <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
            <h3 class="listing__title">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>

              What is the difference between an asylum seeker and a refugee? What is an illegal migrant?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
        <li>
          <a href="/health-foundation/questions/how-do-I-know-what-immunisations–a-new-migrant-patient-needs.html">
            <h3 class="listing__title">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
              How do I know what immunisations a new migrant patient needs, and what they might have already had?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
        <li>
          <a href="/health-foundation/questions/how-do-i-ask-about-fgm.html">
            <h3 class="listing__title">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
              How do I ask about FGM? Who should I ask?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
        <li>
          <a href="/health-foundation/questions/what—are-the-signs-of-trafficking.html">
            <h3 class="listing__title">
             <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
              What are the signs of trafficking?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
        <li>
          <a href="/health-foundation/questions/is-everyone-entitled-to-free-secondary-care.html">
            <h3 class="listing__title">
              <%= render 'layouts/icon_image', file_name: 'icon-discussion.svg', alt_text: 'Discussion' %>
              Is everyone entitled to free secondary care?
            </h3>
            <p class="metadata">6 votes, 1 answer, 54 views</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="ask-question">
        <h2 class="ask-question__title">
          Ask your own question
        </h2>
        <p class="ask-question__desc">
          Post your question to the community of interest
        </p>
        <a href="/health-foundation/questions/ask.html" class="btn btn-primary ask-question__btn">Ask a question</a>
      </div>
    </div>
  </div>
</div>
